

h1 {-webkit-text-fill-color: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  text-align: center;
}
h2 {
  -webkit-text-fill-color: dimgray;
  text-align: center;
  font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0 12px;
  text-align: center;
}

header {
  background-color: WhiteSmoke;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ff267c6b-0569-4521-856d-d23be212b4d6/dcxin00-0fce2ba0-64e2-4985-a245-02a9f400f200.png/v1/fill/w_1280,h_400,q_80,strp/ariana_grande_banner_by_beautyarmy_dcxin00-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDAwIiwicGF0aCI6IlwvZlwvZmYyNjdjNmItMDU2OS00NTIxLTg1NmQtZDIzYmUyMTJiNGQ2XC9kY3hpbjAwLTBmY2UyYmEwLTY0ZTItNDk4NS1hMjQ1LTAyYTlmNDAwZjIwMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.g_VRtpwObv63ApRiqLORsQ4jIta9D-xDQ6yqhCONPlc");
  background-size: auto;
  background-position: center;
  background-image: url("images/ariana_grande_banner_by_beautyarmy_dcxin00-fullview\ \(1\).jpg");

}

header h1 {
  padding: 32px;
  letter-spacing: 2ch;
}

header nav {
  background-color: bisque;
}

nav li {
  display: inline-block; 
}

nav a {
  display: block; 
  color: rgb(0, 0, 0);
  padding: 24px;
}

nav a:hover {
  background-color: rgb(244, 201, 149);
  color: rgb(295, 251, 200);
}
a:hover {color: bisque; ;}
  nav ul{text-align: center;
  font-size: 20px;}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  a {color: rgb(0, 0, 0);text-decoration: none;}
  
 
  
 